
.skillSectionContainer{
    background-color: rgb(126, 126, 126);
    margin-top: 3vh;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    padding: 50px;
}

.box {
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    margin-bottom:20px;
    margin-left: 0.6rem !important;
    margin-right: 0.6rem !important;    
}

.animatedBox {
    --border-size: 3px;
    --border-angle: 0turn;
    width: auto;
    height: 10vh;
    padding: 0px;
    // background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    // background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
}

@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

.animatedBox:hover {
    animation-play-state: paused;
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}