
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt:regular,bold,italic&subset=latin,latin-ext');
@layer base {

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: BlinkMacSystemFont,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    transition: all 0.25s linear;
  }

  .MuiTypography-root, .MuiButton-root {
    font-family: 'Open Sans', sans-serif !important;
  }

  .Typewriter{
    display: inline-block;
    color: #e3405f !important
  }

  .MuiGrid-item{
    padding-top: 0 !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .dark::-webkit-scrollbar-track {
    background: #292a2d;
  }
  .light::-webkit-scrollbar-track {
    background: #DDDEE0;
  }
  ::-webkit-scrollbar-thumb {
    background: #E3405F;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #E3405F;
  }  

}



