
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt:regular,bold,italic&subset=latin,latin-ext');

@import "./color.module.scss";

@layer base {

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: BlinkMacSystemFont,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    transition: all 0.25s linear;
  }

  .sectionMargin{
    margin-top: 10vh !important;
  }

  .bottomMargin{
    margin-bottom: 5vh !important;    
  }

  .MuiGrid-container{
    padding-left: 0px;
    padding-right: 0px;
  }

  .MuiTypography-root, .MuiButton-root {
    font-family: 'Open Sans', sans-serif !important;
  }

  .bold {
    font-weight: 700 !important;
  }

  .sectionTitle {
    text-align: center !important;
    font-weight: 700 !important;
  }

  .underline-text {
    display: inline-block;
    border-bottom: 2px solid;
    padding-left: 20px;
    padding-right: 20px;    
  }

  .x-padding{
    padding-left: 12px;
    padding-right: 12px;
  }

  .centerText{
    text-align: center !important;
  }

  .verticallyHorizontallyCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiGrid-item{
    padding-top: 0 !important;
  }

  .FullWidth{
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #dddcdc;
  }
  ::-webkit-scrollbar-thumb {
    background: $themeColor;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $themeColor;
  }  

  .Typewriter {
      display: inline-block;
      color: $themeColor !important;
  }

  .coloredDivider{
    &::before{
      border-top: thin solid $themeColor !important;
    }
    &::after{
      border-top: thin solid $themeColor !important;
    }
  }


  .vertical-timeline{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .vertical-timeline-element-date{
    font-weight: 700 !important;
  }

  .vertical-timeline::before {
    background: $themeColor !important;
  }  

}