
@import url('https://fonts.googleapis.com/css?family=Open+Sans:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt:regular,bold,italic&subset=latin,latin-ext');

@import "./color.module.scss";

@layer base {

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: BlinkMacSystemFont,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    transition: all 0.25s linear;
  }

  .MuiTypography-root, .MuiButton-root {
    font-family: 'Open Sans', sans-serif !important;
  }

  .themeColor{
    color: $themeColor !important
  }

  .bold {
    font-weight: 700 !important;
  }

  .sectionTitle {
    text-align: center !important;
    font-weight: 700 !important;
    margin-top: 5vh;
  }

  .verticallyHorizontallyCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiGrid-item{
    padding-top: 0 !important;
  }

  .FullWidth{
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .dark::-webkit-scrollbar-track {
    background: #292a2d;
  }
  .light::-webkit-scrollbar-track {
    background: #DDDEE0;
  }
  ::-webkit-scrollbar-thumb {
    background: $themeColor;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $themeColor;
  }  

  .Typewriter {
      display: inline-block;
      color: $themeColor !important;
  }

}