
@import "./color.module.scss";


@import url('https://fonts.googleapis.com/css?family=Open Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@layer base {

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    transition: all 0.25s linear;
  }

  .section-margin{
    margin-top: 10vh !important;
  }

  .bottom-margin{
    margin-bottom: 5vh !important;    
  }

  .MuiGrid-container{
    padding-left: 0px;
    padding-right: 0px;
  }

  .MuiTypography-root, .MuiButton-root {
    font-family: 'Open Sans' !important;
  }

  .bold {
    font-weight: 700 !important;
  }

  .section-title {
    text-align: center !important;
    font-weight: 700 !important;
  }

  .underline-text {
    display: inline-block;
    border-bottom: 2px solid;
    padding-left: 20px;
    padding-right: 20px; 
  }

  .x-padding{
    padding-left: 12px;
    padding-right: 12px;
  }

  .center-text{
    text-align: center !important;
  }

  .vertically-horizontally-center {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .vertically-center {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  
  .horizontally-center {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
  }

  .MuiGrid-item{
    padding-top: 0 !important;
  }

  .FullWidth{
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #dddcdc;
  }
  ::-webkit-scrollbar-thumb {
    background: $themeColor;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $themeColor;
  }  

  .Typewriter {
      display: inline-block;
      color: $themeColor !important;
  }

  .colored-divider{
    &::before{
      border-top: thin solid $themeColor !important;
    }
    &::after{
      border-top: thin solid $themeColor !important;
    }
  }


  .vertical-timeline{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .vertical-timeline-element-date{
    font-weight: 700 !important;
  }

  .vertical-timeline::before {
    background: $themeColor !important;
  }  

  .underline-animation {
    display: inline-block;
    position: relative;
    color: $themeColor;
  }
  
  .underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $themeColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


}